<%= form_for(@gotcha, html: { class: "well" }) do |f| %>
    <% if @gotcha.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@gotcha.errors.count, "error") %> prohibited this gotcha from being saved:</h2>

        <ul>
        <% @gotcha.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_area :content, rows: 5, placeholder: "Go for it, smartass!", class: "full-width" %>
    <div class="input-prepend input-append">
      <span class="add-on"><i class="icon-tags"></i></span><%= f.text_field :tags, placeholder: "Tags (space separated)" %><%= f.submit(class: "btn btn-inverse") %>
    </div>
<% end %>
