<h1>Listing gotchas</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gotchas.each do |gotcha| %>
  <tr>
    <td><%= gotcha.content %></td>
    <td><%= gotcha.tags %></td>
    <td><%= link_to 'Show', gotcha %></td>
    <td><%= link_to 'Edit', edit_gotcha_path(gotcha) %></td>
    <td><%= link_to 'Destroy', gotcha, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gotcha', new_gotcha_path %>
