<% if notice %>
<div class="alert alert-success">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <%= notice %>
</div>
<% end %>

<div class="page-header">
  <h1>
    Gotchas
    <small>This is place where <a href="http://frantic.im">I</a> store all gotchas I come across when craftig software</small> <a href="#"><i class="icon-lock pull-right"></i></a>
  </h1>
</div>

<% if @is_admin %>
  <%= render 'form' %>
<% end %>

<% @gotchas.each do |gotcha| %>
  <div class="gotchas">
    <p class="lead"><%= gotcha.content %></p>
    <small>
      <% gotcha.tags.split.each do |tag| %> 
        <a href="#"><span class="label label-info"><%= tag %></span></a>
      <% end %>
      <% if @is_admin %>
        <a href="<%= edit_gotcha_path(gotcha) %>">
          <span class="label label-warning">Edit</span>
        </a>
        <a href="<%= gotcha_path(gotcha) %>" data-confirm="rlly?" data-method="delete" rel="nofollow">
          <span class="label label-important">Delete</span>
        </a>
      <% end %>
    </small>
  </div>
<% end %>
