<% if notice %>
<div class="alert alert-success">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <%= notice %>
</div>
<% end %>

<%= render 'form' %>

<h1>Listing gotchas</h1>

<div class="row-fluid">
  <div class="span6">6</div>
  <div class="span6">6</div>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th>Content</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gotchas.each do |gotcha| %>
  <tr>
    <td><%= gotcha.content %></td>
    <td><%= gotcha.tags %></td>
    <td><%= link_to 'Show', gotcha %></td>
    <td><%= link_to 'Edit', edit_gotcha_path(gotcha) %></td>
    <td><%= link_to 'Destroy', gotcha, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gotcha', new_gotcha_path %>